{% extends 'blog/base.html' %}
{% block main %}
<div class="row">
    <div id="lcnet-content" class="col-md-8 col-lg-9">
        <div id="all-post-list" class="well">
            {% if article_list %}
                {% with post_list=article_list %}
                    {% for post in post_list %}
                        {% include "blog/include/category_post.html" %}
                    {% endfor %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
    {% if page_obj %}
        {% include "blog/include/pagination.html" %}
    {% endif %}
</div>
{% endblock %}