{% extends "blog/base.html" %}
{% block content %}
    <div id="all-post-list" class="well">
        {% if article_list %}
            {% with post_list=article_list %}
                {% for post in post_list %}
                    {% include "blog/include/tag_post.html" %}
                {% endfor %}
            {% endwith %}
        {% endif %}
    </div>
     <!--分页 -->
    {% if page_obj%}
    {% include "./blog/include/pagination.html"%}
    {% endif %}
{% endblock %}
{% block rightbar %}
    {% include "blog/widgets/category_article.html" %}
    {% include "blog/widgets/host_article.html" %}
    {% include "blog/comments/latest_comments.html" %}
{% endblock %}