html{
    overflow: scroll;
}
body{
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", "tohoma,sans-serif";
    color: #0d3349;
    font-size: 12px;
    background: url('../img/bg.jpg') repeat scroll 0% 0% transparent;
}
header {
    font-size:14px;
}
a{
    color:#3c3c3c;
}
a:focus{
    color:#7f007f;
    text-decoration: none;
}
a:hover{
    color: #7f0055;
    text-decoration: none;
}
/*使footer置于底部*/
body,html {
    margin: 0;
    padding: 0;
    height:100%;
}
#lcnet{
    padding-top: 30px;
}
#lcnet-main{
    position: relative;
    min-height: 100%;
    _height:100%;
    padding: 30px 0;
}
#lcnet-content{
    padding:10px;
    padding-bottom: 30px;
}
footer{
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: #ccc;
}
/*下滑线*/
.underline{
    border-bottom:2px solid #eee;
}

.label-lcnet-1{
    background-color:#6ce26c;
}
.label-lcnet-2{
    background-color: #2aabd2;
}
.label-lcnet-3{
    background-color: #2e6da4;
}

.pre-cat{
    float: left;
    margin-right: 15px;
    position: relative;
}
.pre-catinner{
    background-color: #5ba1cf;
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    color: #eee;
}
.pre-catarrow{
    position: absolute;
    height: 0px;
    width: 0px;
    font-size: 0px;
    line-height: 0;
    border-width: 4px;
    border-style: solid;
    border-image: none;
    right: -8px;
    top: 10px;
    border-color: transparent transparent transparent #5ba1cf;
}
/***********************************/


/* all post 块内容*/
.all-post{
    margin-bottom:20px;
}

.all-post .post-title {
    margin-bottom:10px;
}
.all-post .post-title h1{
    margin-top:0px;
    font-size:20px;
    height:30px;
    line-height:30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.all-post .post-title>.post-tags{
    float: right;
}
.all-post .post-content .thumbnail{
    border: 1px solid #7f007f;
    padding: 0px;
}
.all-post .post-info{
    float: right;
    margin-top: -20px;
}
/**************************/

/*nav中 login弹出窗口中的样式*/
#login-button {
    float:right;
}

#forgetpassword {
    float:right;
}

#forgetpassword a {
    color:red;
    font-size:14px;
    line-height:30px;
}

#register-modal .alert{
   margin:15px;
   padding:10px;
}

#login-modal .alert{
   margin:15px;
   padding:10px;
}

/*分页*/

.pageer {
    font-size:16px;
    font-weight:bold;
}

.pager .page-number {
    font-size:16px;
    font-weight:bold;
    color:#FFFF00;
    text-shadow: 2px 2px 2px #000, 0px 0px 10px #fff, 0px 0px 20px #fff;
}

/*按钮样式*/
.btn-lcnet{
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}

/*文章中内容的样式******/
.article-content img{

    max-width:100%;
}

.article-title h1{
    font-size:20px

}

/* home post块内容 */
.home-post{
    position:relative;
    margin-bottom:30px;
    padding-bottom:20px;
    display:block;
}

.home-post .post-title{
    margin-bottom:10px;
    padding-bottom:10px;
}

.home-post .post-title>h1{
    margin-top:0px;
    margin-bottom:0px;
    padding-top:3px;
    font-size:20px;
    height:30px;
    line-height:30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home-post .post-tag{
    text-align:center;
    line-height:24px;
    margin:20px;
}

.home-post .post-content{
    padding:0px 0px;
    font-size: 14px;
}

.home-post .post-content .thumbnail{
    border:1px solid #ED9C29;
    padding:0px;
}

.home-post .post-info{
    margin-top:15px;
}

.home-post .post-info > span{
    margin-right:5px;
}

.home-post .post-info .post-tags{
    float:right;
}

.home-post .post-content .row .col-sm-4 {
    padding-right:5px;
    padding-left:5px;
}

.home-post .post-content .row .col-sm-8 {
    padding-right:5px;
    padding-left:5px;
}

/***********************************/

/*panel 样式*/
.panel-lcnet{
    box-shadow: 0px 0px 5px #C2C2C2;
    border-color:#EEE;
    margin-top: 20px;
}

.panel-lcnet .panel-heading{
    color: #EEE;
    background-color: #222;
    border-color: #EEE;
}

.panel-lcnet .input-group-addon{
    color: #EEE;
    background-color: #3D4450;
    border:2px solid #3D4450;
}

.panel-lcnet .badge{
    background-color:#D94600;
}

.panel-lcnet span.btn{
    padding:0px;
    margin-right:5px;
}