<div class="well">
    <div class="lcnet-comment">
        <div class="lcnet-comment-tx">
            {% if user.img%}
            <img src="{{user.img}}" width="40">
            {%else%}
            <img src="http://7xrtw5.com1.z0.glb.clouddn.com/tx-default.jpg" width="40">
            {%endif%}
        </div>
        <div class="lcnet-comment-edit clearfix">
            <form id="lcnet-comment-form" method="post" role="form">
                {% csrf_token %}
                <textarea id="comment" name="comment" class="form-control" rows="4" placeholder="请输入评论 限200字!"></textarea>
                <button type="submit" class="btn btn-lcnet-comments pull-right">提交</button>
            </form>
        </div>
        <ul>
            {% for comment in comment_list%}
            <li>
                <div class="lcnet-comment-tx">
                    {% if comment.user.img %}
                    <img src={{comment.user.img}} width="40">
                    {%else%}
                    <img src="http://7xrtw5.com1.z0.glb.clouddn.com/tx-default.jpg" width="40">
                    {%endif%}
                </div>
                <div class="lcnet-comment-content">
                    <a><h1>{{comment.user.username}}</h1></a>
                    <p>
                        评论：
                        {% autoescape on%}
                        {{comment.comment}}
                        {% endautoescape %}
                    </p>
                    <p>{{comment.create_time|date:"Y-m-d H:i:s" }}</p>
                </div>
            </li>
            {% endfor%}
        </ul>
    </div>
</div>
<script language="javascript" type="text/javascript">
    $('#lcnet-comment-form').submit(function(){
        $.ajax({
            type:"POST",
            url:"/comment/{{article.en_title}}",
            data:{"comment":$("#comment").val()},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success:function(data,textStatus){
                $("#comment").val("");
                $(".lcnet-comment ul").prepend(data);
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);

            }

        });
        return false;
    });
</script>
